body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

* {box-sizing:border-box}

.carousel-inner > .item {
	height: 0;
	/* padding-bottom: 56.25%;  */
	/* 16:9 aspect ratio */
	position: relative;
  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > .embed-responsive {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
  }

  .carousel-inner > .item > img {
	object-fit: cover;
  }

