body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

* {box-sizing:border-box}


.carousel-indicators li {
	background-color: black;
	width: 16px;
  	height: 16px;
  	margin: 3px;
}

.carousel-indicators .active {
    background-color: #333; /* or another highlight color */
}
